[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
flask-pymongo = "*"
pymongo = "*"
flask-cors = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
pynvim = "*"

[requires]
python_version = "3.9"
